@import "compass/css3";
@import "mixin";

html, body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  display: table;
  font-weight: 100;
}

.hide {
  display: none;
}

%inline-v-middle {
  display: inline-block;
  vertical-align: middle;
}