h4 {
  font-weight: bold;
}

.listtables {
  list-style: none;
  margin: 0;
  padding: 0;
  & > li {
    border-bottom: 1px dotted #ccc;
    padding-bottom: 20px;
  }
}

.change {
  color: blue;
}

.new {
  color: red;
}

.tableNew {
  color: red;
}

.field {
  font-weight: bold;
  font-size: 16px;

  &-type {
    font-size: 11px;
  }
}

.count {
  cursor: pointer;
}

.dataShow {
  text-decoration: line-through;
}

.field-info {
  @extend %inline-v-middle
}

.key-field {
  @extend %inline-v-middle
}

.key-mul {
  @include get-sprite(sprite-map("sprite/keys/*.png"), key-mul);
}

.key-pri {
  @include get-sprite(sprite-map("sprite/keys/*.png"), key-pri);
}

.key-uni {
  @include get-sprite(sprite-map("sprite/keys/*.png"), key-uni);
}

